.bg {
    background: black;
    height: 100vh;
}
.moviebox {
    color: red;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    // grid-template-rows: repeat(auto-fit, min);
    grid-gap: 25px;
    div {
        height: 100%;
    }
    img {
        cursor: pointer;
        // border-radius: 10px;
        max-width: 75%;
        max-height: 75%;
        border: white solid 10px;
        transition: all 900ms linear;
        &:hover {
            // border: white solid 15px;
            transform: scale(1.009);
        }
    }
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .name {
        color: #3b82f6;
        cursor: pointer;
    }
}